@model List<SistemaVenda.Entities.Venda>;
<html>
<head>

</head>
<body>
    <div class="The-title">
        <h2>Venda</h2>
        <hr />
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Codigo</th>
                    <th> Data</th>
                    <th> Cliente</th>
                    <th> Total</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr onclick="Editar(@item.Codigo)" style="cursor:pointer;">
                    <td> @item.Codigo</td>
                    <td> @item.Data</td>
                    <td> @item.Cliente</td>
                    <td> @item.Total</td>

                </tr>
                }
            </tbody>
        </table>
        <br />
        <button type="button" class="btn-block btn-primary" onclick="Cadastro()">
            registrar venda
        </button>
    </div>
    <script>
        function Editar(Codigo) {
            window.location = window.origin + "\\Venda\\Cadastro\\" + Codigo;

        }
        function Cadastro() {
            window.location = window.origin + "\\Venda\\Cadastro";
        }
    </script>

</body>
</html>